 <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
      <localRepository/>
      <interactiveMode/>
      <usePluginRegistry/>
      <offline/>
      <pluginGroups/>
      <servers/>
      <mirrors/>
      <proxies>
			<proxy>
				<active>true</active>
				<protocol>http</protocol>
				<host>www-cache.htw-dresden.de</host>
				<port>3128</port>
				<nonProxyHosts>localhost</nonProxyHosts>
			</proxy>
	</proxies>
      <profiles/>
      <activeProfiles/>
    </settings>